altair
pandas
streamlit
openai
langchain
tabulate
tiktoken==0.9.0
supabase==1.0.3
openpyxl
python-dotenv
langchain-community
streamlit-extras
streamlit>=1.25
streamlit-extras>=0.3
unstructured
pypdf
python-docx
openpyxl
networkx
msoffcrypto-tool
langchain-pinecone
pinecone
